@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
}

.app-content .sidebar {
  height: 87.5vh;
}

.side {
  width: 20%;
  transition: width 0.5s ease;
}

.page-content {
  width: 80%;
  transition: width 0.5s ease;
}

.tomato-btn {
  background-color: tomato;
  color: white;
  font-size: 20px
}

.tomato-btn:hover{
  background-color: white;
  border: 3px solid tomato;
  color: tomato;
}



.large-sidebar{
  min-width: 180px;
  width: 20%;
}

.sidebar {
  width: 0%;
}